* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cursorPointer {
    cursor: pointer;
}

.border {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/* .................Creating top Navbar............ */
/* amazon logo  */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;

}

.nav-logo {
    height: 90%;
    width: 130px;
    display: flex;
}

.nav-logo span {
    position: relative;
    top: 19px;
    left: -5px;
}

.logo {
    height: 90%;
    width: 90%;
    background: url("https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png");
    background-repeat: no-repeat;
    background-position-y: -33px;
}

/** Nav-Address **/
.nav-address {
    height: 90%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.add-first {
    font-size: 0.72rem;
    color: #cccccc;
    position: relative;
    left: 25px;
}

.add-second {
    position: relative;
    left: 25px;
}

.add-logo {
    font-size: larger;
    position: absolute;
    top: 21px;
    left: 4px;
}

/** Nav-Search **/
.nav-search {
    height: 40px;
    width: 570px;
    display: flex;
    align-items: center;
}

.nav-search:hover {
    border-radius: 4px;
    outline: 3px solid orange;
}

.search-select select {
    height: 40px;
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input input {
    width: 480px;
    font-size: 1rem;
    padding-left: 10px;
    height: 40px;
    border: none;
}

.search-icon {
    width: 45px;
    height: 40px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 188, 65);
    color: rgb(44, 43, 43);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** Nav-Language **/
.nav-lang {
    height: 90%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 4px;
}

.lang-flag img {
    height: 0.9rem;
}

.dropdown-icon {
    margin-left: -3px;
    margin-top: 6px;
    font-size: 0.5rem;
    color: lightgray;
}

/** Nav-Sigin **/
.nav-signin {
    height: 90%;
    width: 140px;
    padding-top: 14px;
    padding-left: 8px;
}

.nav-first {
    font-size: 0.72rem;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: bold;
}

/** Nav-Order **/
.nav-order {
    height: 90%;
    width: 78px;
    padding-top: 14px;
    padding-left: 8px;
}

/** Nav-Cart **/
.nav-cart {
    height: 90%;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-logo {
    font-size: 1.8rem;
    color: orange;
}

.nav-cart p {
    margin-top: 12px;
}

/* ..................Creating bottom Navigation bar............ */

/* Btm-Nav-Menu */
.btm-navbar {
    height: 40px;
    background-color: #232e3a;
    color: white;
    display: flex;
    align-items: center;
}

.btm-nav-list {
    display: flex;
    align-items: center;
}

.btm-nav-list li {
    margin: 0px 7px;
    list-style: none;
    font-size: 0.85rem;
    cursor: pointer;
}

.btm-nav-list a {
    padding: 5px;
}

.nav-menu-icon {
    padding: 3px;
}

.nav-menu-icon i {
    font-size: 1.2rem;
    position: relative;
    top: -1px;
}

.nav-menu-icon span {
    font-size: 0.95rem;
    font-weight: bold;
    position: relative;
    top: -3px;
}

/* Prime element hover  */
.sub-prime {
    height: 390px;
    width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    z-index: 2;
    background-color: white;
    color: black;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    display: none;
}

.prime:hover+.sub-prime {
    display: block
}

.sub-prime h1 {
    margin-top: 15px;
}

.sub-prime p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

.prime-image img {
    width: 300px;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(44, 44, 245);
}

/* ............Creating Background Image Slider............... */
.bg-image-container {
    position: relative;
}

.bg-image-list {
    display: flex;
    overflow: hidden;

}

.bg-image {
    min-width: 100%;
    transition: transform 0.3s;
}

.bg-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* image slider button */
.slide-btn-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 100px;
    display: flex;
    justify-content: space-between;
}

.slide-btn-container button {
    font-size: 45px;
    background: transparent;
    border: none;
    filter: drop-shadow(2px 2px 2px #efeff5);
}

/* ..............creating sidebar menu folder................ */
.sidebar-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(-100%);
    transition: transform 0.4s;
    display: flex;
}

.show-menu-sidebar {
    transform: translateX(0);

}

.menu-sidecontent-box {
    background-color: white;
    height: 100%;
    width: 365px;
}

.menu-top-box {
    background-color: #222a31;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-right: 138px;
}

.menu-top-box i {
    font-size: 1.6rem;
}

.menu-lower-box {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
}

.menu-box-items {
    text-align: left;
    padding: 10px 36px;
    border-bottom: 1px solid rgba(175, 172, 172, 0.5)
}

.menu-box-items h2 {
    margin-top: 12px;
    font-size: 1.15rem;
}

.menu-box-items p {
    font-size: 0.85rem;
    font-weight: 500;
    margin: 26px 0px;
}


/* menu cross button  */
#menu-cross-btn {
    height: 40px;
    width: 40px;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* ....................Creating body-allproducts template items................. */
.all-product-section {
    display: flex;
    /* display:none; */
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 350px;
}

.body-product-container {
    width: 316px;
    height: 428px;
    background-color: white;
    border: 0.5px solid rgba(180, 170, 170, 0.5);
    box-shadow: -15px 2px 5px 0px rgba(240, 236, 236, 0.2),
        20px 20px 5px 5px rgba(240, 236, 236, 0.2);
    margin-left: 18px;
    margin-bottom: 20px;
}

.body-product-container h2 {
    margin-bottom: 25px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 1.3rem;
    width: 266px;
    height: 50px;
    width: 100%;
}

.sub-product-container {
    padding-left: 7px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.product-items {
    width: 145px;
    height: 160px;
    padding-left: 13px;
    margin-top: -10px;
}

.product-items p {
    width: 140px;
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgb(49, 48, 48);
}

.product-items-img {
    height: 120px;
    width: 135px;
    padding-top: 5px;

}

.product-items-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.product-footer {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 0.8rem;
}

.product-footer a {
    text-decoration: none;
    color: rgb(56, 56, 247);
}


/* ...............Products Array of items slider..................... */
.products-item-slide-container {
    height: 290px;
    width: 95vw;
    margin-left: 25px;
    border: 1px solid rgba(199, 192, 192, 0.6);
    cursor: pointer;
    margin-top: 600px;
    position: relative;
    overflow: hidden;
}

.products-item-title {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 15px;
}

.products-item-title h2 {
    font-size: 1.3rem;
}

.products-item-title a {
    text-decoration: none;
    color: rgb(31, 31, 211);
    font-size: 0.90rem;
}

.products-items-list {
    display: flex;
    margin-left: 20px;
    transform: translate(0);
    transition: transform 1s;
}

.product-item {
    min-width: 270px;
    height: 177px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}

/* product item button  */
.product-item-btn-container {
    position: absolute;
    margin-top: 30px;
    z-index: 30;
    left: 19px;
    display: flex;
    width: 97%;
    justify-content: space-between;
}

.product-item-btn-container button {
    padding: 35px 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.7rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 1px 1px 3px rgba(212, 209, 209, 0.75);
    display: none;
}

.products-item-slide-container:hover .product-item-btn-container button {
    display: block;
    cursor: pointer;
}

.product-item-btn-container button:focus {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px rgba(212, 209, 209, 0.75);
}


 /* ...........creatting clothing and electronics template section............ */
.new-template-section{
    display:flex;
    gap:17px;
    margin:20px 25px;
    
 }


.product-template-container{
    height:385px;
    width:306px;
    padding:20px;
    border:0.5px solid rgb(201, 195, 195);
}
.product-template-container h2{
    font-size: 1.33rem;
}
.template-image-container{
    display:flex;
    flex-wrap: wrap;
}
.template-image{
    height:135px;
    width:130px;
}
.template-image img{
    height:100%;
    width:100%;
    object-fit: contain;
}
.product-template-below-link{
    margin-top: 10px;
}
.product-template-below-link a{
    font-size: 0.78rem;
    font-weight: 600;
    text-decoration:none;
    color:rgba(5, 116, 136,0.85)
}


/* .............third New pattern template--watches........... */
.new-pattern-template-container{
     height:385px;
    width:306px;
    padding:20px;
    border:0.5px solid rgb(201, 195, 195);
}
.new-pattern-template-container h2{
      font-size: 1.30rem;
}

.new-pattern-temp-image-container{
    position: relative;
    overflow: hidden;
}
.new-pattern-temp-image-list{
    display:flex;
    gap:9px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.new-pattern-image img{
    max-width:158px;
    height:210px;
    object-fit: contain;
}

.new-pattern-temp-footer p{
    font-size: 0.95rem;
    margin:5px 0px;
}
#new-pattern-ruppe-first{
      font-size: 1.2rem;
    font-weight:540;
    color:rgba(0, 0, 0, 0.986);
    margin:0px 4px;
}
#new-pattern-ruppe-second{
    font-size: 0.78rem;
    text-decoration:line-through;
    color:rgba(0, 0, 0, 0.76);
}

/* New patetern image slider button */
.new-pattern-image-btn-container{
    position: absolute;
    width:100%;
    display:flex;
    justify-content: center;
    gap:160px;
    top:10px;
}
.new-pattern-image-btn-container button{
    padding:70px 5px;
    background: transparent;
    background-color: rgba(255, 255, 255,0.6);
     font-size: 35px;
     border:none;
}

.new-pattern-image{
    /* transform: translateX(-105%); */
    transform: translateX(0%);
}

 /* ...............fourth single image pattern template................ */
 .new-single-image-template-container{
    height:385px;
    width:306px;
    padding:20px;
    border:0.5px solid rgb(201, 195, 195);
 }
 .new-single-image-template-container h2{
     font-size: 1.30rem;
 }
 .single-image-box{
   height:265px;
   width:265px;
   object-fit: contain;
   margin-top: 10px;
 }
.single-image-box img{
   width:100%;
   height:100%;
}
.new-single-image-template-container p{
    margin-top: 10px;
}
.new-single-image-template-container p a{
    font-size: 0.78rem;
    text-decoration: none;
     font-weight: 600;
    color:rgba(5, 116, 136,0.85);
}




/* .......................Creating footer section....................... */

/* footer-sign in  */
.footer-signin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(199, 192, 192, 0.6);
    padding: 40px;
    margin-top: 40px;
}

.footer-signin-container button {
    padding: 9px 84px;
    border: none;
    border-radius: 20px;
    background-color: #ffce12;
    font-size: 0.9rem;
}

.footer-signin-container p {
    font-size: 0.7rem;
}


/* footer-about-us  */
.footer-about-us {
    margin-top: 20px;
}

.about-top {
    height: 50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-top button {
    border: none;
}

.about-top button a {
    background-color: #37475A;
    color: white;
    text-decoration: none;
}

.about-main-content {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 30px;
    color: white;
    background-color: #232F3E;
    border: none;

}

.main-content ul li:first-child {
    color: white;
    font-size: 1rem;
}

.main-content ul li {
    font-size: 0.85rem;
    list-style: none;
    color: rgb(231, 223, 223);
    margin: 14px;
}

.about-bottom-container {
    background-color: #232F3E;
    height: 100px;
    border-top: 0.5px solid rgba(199, 192, 192, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bottom-item {
    height: 70%;
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-bottom-logo {
    height: 60%;
    width: 10%;
    background: url("https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png");
    background-repeat: no-repeat;
    background-position-y: -80px;
}

.about-bottom-btn {
    display: flex;
    gap: 8px;
    /* align-items: center; */
}

.about-btn-language {
    border: 0.5px solid rgba(212, 205, 205, 0.6);
    color: white;
    padding-left: 10px;
}

.about-bottom-btn select {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 2.5px;
    background-color: transparent;
    color: rgba(240, 235, 235, 0.801);
}

.about-btn-country {
    display: inline-block;
    border: 0.5px solid rgba(212, 205, 205, 0.6);
    padding: 8px 24px;
    border-radius: 2.5px;
    background-color: transparent;
    color: rgba(240, 235, 235, 0.801);
    font-size: 0.84rem;
}

.about-btn-country img {
    height: 12px;
    position: relative;
    top: 2px;
    left: -8px;
}

/* footer reference details  */
.footer-reference-details {
    background-color: #131A22;
    height:155px;
    color:white;
}

.footer-ref-list-items{
    display:flex;
    padding-top:20px;
    margin-left: 200px;
    gap:100px;
    list-style: none;  
    font-size: 0.89rem;  
    color: rgba(230, 223, 223, 0.863);
}
.footer-ref-list-items li span{
    font-size: 0.72rem;
    color: rgba(190, 186, 186, 0.801);
}
    
/* footer copyright section  */

.footer-copyright{
      background-color: #131A22;
      color: rgba(230, 223, 223, 0.988);
      height:80px;
      font-size: 0.72rem;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:8px;
     
}
.foot-copyright-link{
    display:flex;
    gap:15px;
    
}
.foot-copyright-link a{
    color: rgba(230, 223, 223, 0.988);
    text-decoration: none;
}